<div id="content">
	<div id="siteNotice"></div>
	<h1 id="firstHeading" class="firstHeading"><%= data.title %></h1>
	<div id="bodyContent">
		<p><strong><img src = "<%= data.image %>" height = "100" width = "100" /></strong>
			<%= data.description %>
	</div>
</div>